*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    -web-kit: border-box;
}

body{    
    font-family: 'Montserrat', sans-serif;   
}

.contenedor_productos button{
    background-color: rgb(22, 22, 22);
}

.contenedor_productos{    
    width: auto;
    height: auto;
}

.botones{        
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);       
}

.botones_detalles{
    width: 200px;
    display: grid;    
    grid-template-columns: repeat(1, 2fr);
    
}

.contenedor_productos img{
	background-color: #790202;
	padding: 10px;	
	box-shadow: 0 0 15px rgba(0,0,0,0.8);	
    margin-top: 20px;
	margin-bottom: 20px;
}
