@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
padding: 0;
}

body{
    font-family: "Montserrat", sans-serif !important;
    background-color: #EEEBDD ;
}

h1 .title{
    font-family: "Montserrat", sans-serif;

}
#title{
margin-top: 2%;

}
div .card{
    box-shadow: #000;
}
div a{
   text-decoration: none;
 }
.card-body a h3{
  text-decoration: none;
  color: #b71c1c;
}
.container a h3:hover{
 color: black;
  transition: .3s;
  font-size: 30px;
  text-decoration: none;
}

.container .card{
  box-shadow: -7px 7px 17px -4px rgba(0,0,0,1);
-webkit-box-shadow: -7px 7px 17px -4px rgba(0,0,0,1);
-moz-box-shadow: -7px 7px 17px -4px rgba(0,0,0,1);
  margin-bottom: 15px;
}
/* FOOTER */
footer {
  margin-top: 5%;
  background: rgb(22,22, 22);
  max-width: 100%;
  height: auto;
}
.contenido-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 15px;
}

.contenido-footer .logo {
  height: 80px;
  width: auto;
  margin: auto;
}
@media (max-width: 940px) {
  .contenido-footer .logo {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
  }
}

.contenido-footer h2 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.mapa-sitio {
  position: relative;
}
.mapa-sitio h2 {
  position: relative;
  left: 28%;
  width: 45%;
  height: auto;
  font-weight: 700;
}

.titulo-mapa :hover{  
  background: #fff;
  color: #000;  
}

.mapa-sitio .lista-mapa-sitio {
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.mapa-sitio .lista-mapa-sitio a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
  transition: all ease-in-out 0.2s;
}
.mapa-sitio .lista-mapa-sitio a:hover {
  background: #fff;
  color: #000;
  transform: scale(1.1);
}
@media (max-width: 1220px) {
  .mapa-sitio .lista-mapa-sitio {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
@media (max-width: 1060px) {
  .mapa-sitio .lista-mapa-sitio {
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}
@media (max-width: 940px) {
  .contenido-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 15px;
  }
  .mapa-sitio .lista-mapa-sitio {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.servicios {
  position: relative;
}
.servicios h2 {
  font-weight: 800;
}
.servicios .lista-servicios {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.servicios .lista-servicios li {
  color: #fff;
  list-style: none;
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: 600;
}
@media (max-width: 940px) {
  .servicios .lista-servicios {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.mapa-sitio::before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 240px;
  background: #fff;
}
.servicios::before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 240px;
  background: #fff;
}
@media (max-width: 940px) {
  .mapa-sitio::before {
    display: none;
  }
  .servicios::before {
    display: none;
  }
}
/* FIN FOOTER*/
