*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    -web-kit: border-box;
}

body{    
    font-family: 'Montserrat', sans-serif;   
}

/*Diseño del carrusel*/

.banner{
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.slider{   
    margin: auto;     
    width: 100%;
    height: auto;    
}


.banner_images{
    margin: auto;    
    width: 100%;
    height: auto;
}

.carousel-caption{
    position: absolute;  
    left: 0;  
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.65);    
}

.carousel-caption button{
    color: white;
    background: transparent;
    font-size: 1vw;
    padding: 1vw 1.5vw;
    border: 1px solid white;
    cursor: pointer;    
    border-radius: 5px;
}

.carousel-caption button:active,
.carousel-caption button:hover{
    background-color: white;
    color: black;
}

/*Primera imagen carrusel*/

#logo_principal{
    position: absolute;
    left: 15%;
    top: 20%;
}

.carousel-caption #first_capt{
    position: absolute;    
    right: 19%;
    top: 22%;
    font-size: 4vw;
}

.carousel-caption #text_first_capt{
    position: absolute;
    width: 40%;
    height: auto;
    right: 16.5%;
    top: 48.5%;
    font-size: 1.5vw;
}

.carousel-caption #first_btn{
    position: absolute;
    top: 64.5%;
    right: 32.5%;
}

/*Segunda imagen carrusel*/

#pizza_carousel{
    position: absolute;
    right: 15%;
    top: 20%;
}

.carousel-caption #second_capt{
    position: absolute; 
    text-align: right;
    width: 40%;
    height: auto;   
    left: 16%;
    top: 20%;
    font-size: 3vw;
}

.carousel-caption #text_second_capt{
    position: absolute;
    text-align: right;
    width: 40%;
    height: auto;
    left: 16%;
    top: 48%;
    font-size: 1.5vw;
}

.carousel-caption #second_btn{
    position: absolute;
    top: 62.5%;
    left: 47.5%;
}

/*Tercera imagen carrusel*/

#pizza_carousel_two{
    position: absolute;
    left: 15%;
    top: 20%;
}

.carousel-caption #third_capt{
    position: absolute; 
    text-align: left;
    width: 40%;
    height: auto;   
    right: 16%;
    top: 30%;
    font-size: 3vw;
}

.carousel-caption #text_third_capt{
    position: absolute;
    text-align:left;
    width: 40%;
    height: auto;
    right: 16%;
    top: 46%;
    font-size: 1.5vw;
}

.carousel-caption #third_btn{
    position: absolute;
    top: 60%;
    right: 48.5%;
}

/* Sección de nosotros */

.nuestra_propuesta{
    position: relative;
    margin-top: 45.7%;    
    width: 100%; 
    height: auto;  
}

.nosotros{
    width: 100%; 
    height: auto;  
}

.nosotros h1{
    position: absolute;
    color: white;
    top: 4%;
    left: 24.5%;
    font-size: 5vw;
}

.nosotros p{
    position: absolute;
    color: white;
    text-align: center;
    width: 40%;
    height: auto;
    top: 32%;
    left: 29.5%;
    font-size: 1.8vw;
}

/* Sección recomendaciones */

.recomendaciones{
    position: relative;
    margin-top: 0%;  
    max-width: 100%; 
    height: auto;  
}

.contenedor_recomendaciones_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recomendaciones .card {  
    margin: 10px auto;
}

#btn_mas{
    position: absolute;
    right: 45%;
    margin-top: 1%;
    margin-bottom: 2%;
    color: black;
    background: transparent;
    font-size: 1vw;
    padding: 1vw 1.5vw;
    border: 1px solid black;
    cursor: pointer;    
    border-radius: 5px;
}

#btn_mas:active,
#btn_mas:hover{
    color: white;
    background: black;
}


/*Sección Eventos*/
.eventos{
    position: relative;
    margin-top: 7%;
    max-width: 100%; 
    height: auto;  
}

.contenedor_opciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
   
}

.contenedor_opciones .card{
    margin: 20px auto;
}


/*Sección de Testimonios*/


.testimonios{
    position: absolute;
    margin-top: 0px;
    width: 100%; 
    height: auto;      
}

.contenedor_test{    
    max-width: 100%; 
    width: 100%;
    height: auto;    
}

.cliente{   
    position: absolute;
    left: 15%;
    top: 22%;    
}

.text_testimonio{
    position: absolute;
    text-align: left;
    width: 50%;
    height: auto;
    right: 16%;
    top: 30%;
    font-size: 2vw;    
}


/*Media*/


@media (max-width: 1080px) {
    .contenedor_recomendaciones_grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .contenedor_opciones{
        display: grid;
        grid-template-columns: 1fr;
    }   

    .carousel-caption button{
        color: white;
        background: transparent;
        font-size: 2.5vw;
        padding: 1vw 1.5vw;
        border: 1px solid white;
        cursor: pointer;    
        border-radius: 5px;
    }

    .carousel-caption #first_btn{
        position: absolute;
        top: 64.5%;
        right: 28.5%;
    }

    .carousel-caption #second_btn{
        position: absolute;
        top: 62.5%;
        left: 40.5%;
    }

    .carousel-caption #third_btn{
        position: absolute;
        top: 60%;
        right: 42.5%;
    }

    #btn_mas{
        position: absolute;
        right: 40.5%;    
        font-size: 2vw;
        padding: 1vw 1.5vw;  
        margin-bottom: 2%;      
    }
    
  }
  @media (max-width: 728px) {
    .contenedor_recomendaciones_grid {
      grid-template-columns: 1fr;
    }

    #btn_mas{
        position: absolute;
        right: 30%;    
        font-size: 5vw;
        padding: 1vw 1.5vw;  
        margin-bottom: 2%;      
    }

    .eventos{
        position: relative;
        margin-top: 12%;
        max-width: 100%; 
        height: auto;  
    }
  }

  /* FOOTER */
footer {
    position: relative;
    margin-top: 31%;
    background: rgb(22,22,22);
    max-width: 100%;
    height: auto;
  }
  








