<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/contacto.css"> 
    <link rel="stylesheet" href="css/navbar_style.css">   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    
</head>
<body>    
    
  <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: rgb(22,22,22);">
    <div class="container-fluid">
      <img src="img/logo_banner.png" class="logo">

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="topbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/"> <b>Inicio</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/nosotros"> <b>Nosotros</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/menu"> <b>Menú</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/servicio"> <b>Servicios</b> </a></li>
          <li class="nav-item"><a class="nav-link active_op" href="/contactenos"> <b>Contactanos</b> </a></li>
          <li class="nav-item"><a class="nav-link" id="cart" href="/carrito-de-compras"> 
            <img src="img/cart.png" id="carrito" style="width: 40px; height: auto;">                     
             <b> Carrito de compras </b> <sub id="numero" class="fw-bold"> 0 </sub> </a></li>
      </div>
    </div>
  </nav>

      <div class="contenedor">        
          <div class="contenedor-formulario">              
            <h1>contáctenos</h1>
              <form action="" class="formulario">
                    <input type="text" class="asunto" placeholder="Asunto *" required>
                    <input type="text" class="nombre" placeholder="Nombre Completo *" pattern="[a-zA-Z'-'\s]*" minlength="8" maxlength="60" required>
                    <input type="email" class="correo" placeholder="Correo Completo *" required>
                    <select class="servicios" name="" id="">
                        <option disabled selected>-- Seleccion el servicio --</option>
                        <option value="">Celebracion de Cumpleaños</option>
                        <option value="">Aniversarios</option>
                        <option value="">Fiestas Infantiles</option>
                        <option value="">Declaraciones o Propuestas</option>
                        <option value="">Despedidas</option>
                        <option value="">Cena con Amigos</option>
                    </select>
                    <textarea name="" placeholder="Mensaje *(debes escirbir un mensaje de menos de 100 carácteres y mas de 15 carácteres)" minlength="15" maxlength="100" required></textarea>
                    <div class="checkbox">
                        <input type="checkbox" id="check" required>
                        <label for="check">Acepto Terminos y Condiciones *</label>
                    </div>                    
                    <input type="submit" class="btn-enviar" value="Enviar">
              </form>
          </div>
      </div>

      <footer>
        <div class="contenido-footer">

          <img src="img/logo_banner.png" class="logo">              

          <div class="mapa-sitio">
            <a class="titulo-mapa text-decoration-none fw-bold" href="/mapa-del-sitio"> <h2>Mapa del sitio</h2> </a>
              <div class="lista-mapa-sitio">
                  <a href="/">inicio</a>
                  <a href="/nosotros">nosotros</a>
                  <a href="/menu">menú</a>
                  <a href="/servicio">servicios</a>
                  <a href="/contactenos">contactenos</a>
              </div>                
          </div>

          <div class="servicios-footer">
              <h2>servicios especiales</h2>
              <div class="lista-servicios">
                  <li>fiestas tematicas</li>
                  <li>cumpleaños</li>
                  <li>cartoon party</li>
              </div>                
          </div>
        </div>        
    </footer>
    <script src="js/num_products.js"></script>
</body>
</html>
</body>
</html>