<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/footer.css">        
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>
<body>
          
      <footer>
          <div class="contenido-footer">

            <img src="img/logo_banner.png" class="logo">              

            <div class="mapa-sitio">
                <a class="titulo-mapa text-decoration-none" href="mapa.html"> <h2>Mapa del sitio</h2> </a>
                <div class="lista-mapa-sitio">
                    <a href="index.html">inicio</a>
                    <a href="nosotros.html">nosotros</a>
                    <a href="menu.html">menú</a>
                    <a href="#">servicios</a>
                    <a href="contacto.html">contactenos</a>
                </div>                
            </div>

            <div class="servicios">
                <h2>servicios especiales</h2>
                <div class="lista-servicios">
                    <li>fiestas tematicas</li>
                    <li>cumpleaños</li>
                    <li>cartoon party</li>
                </div>                
            </div>
          </div>        
      </footer>
</body>
</html>