<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- My Style -->
  <link rel="stylesheet" href="css/navbar_style.css">

  <!-- Title-->
  <title>Cartoon Pizza & Frutas Barra de Navegación</title>
</head>

<body>

  <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: rgb(22,22,22);">
    <div class="container-fluid">
      <img src="img/logo_banner.png" class="logo">

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="topbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#"> <b>Inicio</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> <b>Nosotros</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> <b>Menú</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> <b>Servicios</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> <b>Contactanos</b> </a></li>
          <li class="nav-item"><a class="nav-link" id="cart" href="#"> 
            <img src="img/cart.png" id="carrito" style="width: 40px; height: auto;">                     
             <b> Carrito de compras </b> <sub id="numero"> 0 </sub> </a></li>
      </div>
    </div>
  </nav>

</body>

</html>