<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/nosotros.css">
  <link rel="stylesheet" href="css/navbar_style.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: rgb(22,22,22);">
    <div class="container-fluid">
      <img src="img/logo_banner.png" class="logo">

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="topbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/"> <b>Inicio</b> </a></li>
          <li class="nav-item"><a class="nav-link active_op" href="/nosotros"> <b>Nosotros</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/menu"> <b>Menú</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/servicio"> <b>Servicios</b> </a></li>
          <li class="nav-item"><a class="nav-link" href="/contactenos"> <b>Contactanos</b> </a></li>
          <li class="nav-item"><a class="nav-link" id="cart" href="/carrito-de-compras"> 
            <img src="img/cart.png" id="carrito" style="width: 40px; height: auto;">                     
             <b> Carrito de compras </b> <sub id="numero" class="fw-bold"> 0 </sub> </a></li>
      </div>
    </div>
  </nav>

  <div class="contenedor">
    <div class="contenedor-nosotros" id="historia">
      <img class="imagen" src="img/foto_nosotros.png">

      <div class="informacion">
        <div class="titulo">
          <span>nuestra</span>
          <span>historia</span>
        </div>

        <p>Nuesto restaurante se fundo el 10 de Septiembre de 2021, con la idea de brindar un servicio unico e innovador
          a cada uno de los clientes. Nuestra tematica es de cartoon, fundamentado principalmente por batman, el cual
          fue una inspiración para nosotros cuando eramos niños y que forma de rendirle un homenaje haciendo lo que nos
          gusta con su imagen acompañandonos <br>

          Somos un restaurante innovador, que tiene como misión traer un concepto diferente en sabores y experiencias a
          nivel nacional. Somos los creadores de la autentica y exclusiva <b>Pizza Cartoon</b> que ha generado en los
          paladares de nuestros comensales sensaciones nunca antes experimentadas, por la sazón y calidad que manejan
          nuestros chefs y nuestro restaurante como tal. Disfruta de la mejor pizza
        </p>
      </div>
    </div>

    <div class="contenedor-personal" id="personal">
      <h1>nuestro personal</h1>
      <div class="contenedor-personal-grid">
        <div class="personal1 personal">
          <img src="img/personal1.png" alt="">
          <p class="nombre">Carlos Gonzales</p>
          <p class="cargo">Gerente General</p>
        </div>
        <div class="personal2 personal">
          <img src="img/personal2.png" alt="">
          <p class="nombre">Andrea Muñoz</p>
          <p class="cargo">Chef</p>
        </div>
        <div class="personal3 personal">
          <img src="img/personal3.png" alt="">
          <p class="nombre">Monica Perez</p>
          <p class="cargo">Chef</p>
        </div>
        <div class="personal4 personal">
          <img src="img/personal4.png" alt="">
          <p class="nombre">Juan Martin</p>
          <p class="cargo">Recepcionista</p>
        </div>
        <div class="personal5 personal">
          <img src="img/personal5.png" alt="">
          <p class="nombre">Rodolfo Ortiz</p>
          <p class="cargo">Mesero</p>
        </div>
        <div class="personal6 personal">
          <img src="img/personal6.png" alt="">
          <p class="nombre">Laura Rodriguez</p>
          <p class="cargo">Mesera</p>
        </div>
      </div>
    </div>
  </div>

  <!--testimoniales-->
  <section class="testimonios" id="testimonios">
    <div class="contenedor_test bg-dark">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/banner_testimonios.png" class="d-block w-100">
            <div class="carousel-caption">

              <img src="img/cliente1.png" class="cliente img-fluid" style="width: 15vw">
              <p class="nombre_cliente">Sara Romero</p>
              <p class="text_testimonio"> "Ha sido una de las experiencias más deliciosas en mi vida, las pizzas son
                fantasticas y la atención
                al cliente es fenomenal"</p>

            </div>

          </div>
          <div class="carousel-item">
            <img src="img/banner_testimonios.png" class="d-block w-100">
            <div class="carousel-caption">

              <img src="img/cliente2.png" class="cliente img-fluid" style="width: 15vw">
              <p class="nombre_cliente">Martín Perez</p>
              <p class="text_testimonio"> "Que rico es comer en un lugar donde la atención es excelente y donde cada
                uno de los productos son de alta calidad"</p>

            </div>
          </div>
          <div class="carousel-item">
            <img src="img/banner_testimonios.png" class="d-block w-100">

            <div class="carousel-caption">

              <img src="img/cliente3.png" class="cliente img-fluid" style="width: 15vw">
              <p class="nombre_cliente">Jonathan Garcia</p>
              <p class="text_testimonio"> "La comida es excelente, la presentación muy agradable y el cartoon party es
                una cosa loca, 100% recomendado"</p>

            </div>


          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>

        </button>
      </div>
    </div>

  </section>

  <footer>
    <div class="contenido-footer">

      <img src="img/logo_banner.png" class="logo">

      <div class="mapa-sitio">
        <a class="titulo-mapa text-decoration-none" href="/mapa-del-sitio">
          <h2>Mapa del sitio</h2>
        </a>
        <div class="lista-mapa-sitio">
          <a href="/">inicio</a>
          <a href="/nosotros">nosotros</a>
          <a href="/menu">menú</a>
          <a href="/servicio">servicios</a>
          <a href="/contactenos">contactenos</a>
        </div>
      </div>

      <div class="servicios">
        <h2>servicios especiales</h2>
        <div class="lista-servicios">
          <li>fiestas tematicas</li>
          <li>cumpleaños</li>
          <li>cartoon party</li>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/num_products.js"></script>
</body>

</html>
</body>
</html>